{{ form_start(form) }}
    {{ form_widget(form) }}
    <hr />
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a href="{{ path('firm_index') }}" class="float-right btn btn-primary">back to list</a>
{{ form_end(form) }}
