{% extends 'base.html.twig' %}

{% block title %}Firm index{% endblock %}

{% block body %}
    <h1>Firm index</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Siren</th>
                <th>RegisterCity</th>
                <th>DateRegister</th>
                <th>Capital</th>
                <th>DateCreated</th>
                <th>DateModified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for firm in firms %}
            <tr>
                <td>{{ firm.name }}</td>
                <td>{{ firm.slug }}</td>
                <td>{{ firm.siren }}</td>
                <td>{{ firm.registerCity }}</td>
                <td>{{ firm.dateRegister ? firm.dateRegister|date('Y-m-d') : '' }}</td>
                <td>{{ firm.capital }}</td>
                <td>{{ firm.dateCreated ? firm.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ firm.dateModified ? firm.dateModified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('firm_show', {'id': firm.id}) }}">show</a>
                    <a href="{{ path('firm_edit', {'id': firm.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('firm_new') }}">Create new</a>
{% endblock %}
