{% extends 'base.html.twig' %}

{% block title %}Firm{% endblock %}

{% block body %}
    <h1>Firm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ firm.name }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ firm.siren }}</td>
            </tr>
            <tr>
                <th>RegisterCity</th>
                <td>{{ firm.registerCity }}</td>
            </tr>
            <tr>
                <th>DateRegister</th>
                <td>{{ firm.dateRegister ? firm.dateRegister|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Capital</th>
                <td>{{ firm.capital }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ firm.dateCreated ? firm.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateModified</th>
                <td>{{ firm.dateModified ? firm.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <h5>Address</h5>
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Name</th>
            <th>City</th>
            <th>Zip-Code</th>
        </tr>
        {% for item in firm.address %}
            <tr>
                <td>{{ item.number }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.zipCode }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No Result</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('firm_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('firm_edit', {'id': firm.id}) }}" class="btn btn-primary float-right">edit</a>
{% endblock %}
